<div class="header">
  <div class="container">
    <img src="https://content.codecademy.com/courses/learn-rails/img/logo-1m.svg">
    <h1>Player</h1>
  </div>
</div>

<div class="raffles">
  <div class="container">

    <!-- Your code here -->
   <%= form_for [@weather,@raffle] do |f| %>
      <div class="field">
        <%= f.hidden_field :weather_id , :value=>params[:weather_id] %>

      </div>
  <div class="actions">
    <%= f.submit "Create" %>
  </div>
<% end %>


  </div>
</div>
